<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title><%= material[:title] %></title>
	<link rel="stylesheet" type="text/css" href="<%= material[:style] %>">
</head>
<body id="item-<%= id %>" data-type="body">
	<%= content %>
	<script type="text/javascript">var wsPort = <%= material[:port] %></script>
	<script type="text/javascript" src="<%= material[:script] %>"></script>
</body>
</html>
